<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Donate</title>
    </head>
    <body>
        {% extends "donate.html" %}
        {% block css %}
        {% endblock %}
        {% block body %}
        <br><br><br><br><br><br><br><br>

        <div class="container">
            <form method="post">
                {% csrf_token %}
                <div class="row" >
                    <div class="col-md-6">
                        <br>
                        <div class="donat-form">
                            <div class="form-titl">
                                <b>Enter the amount for Donation</b>
                            </div>
                            <div class="form-dong">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend"></div>
                                        <input type="text" name="amount" class="form-control" placeholder="Enter Amount">
                                        <div class="input-group-append"></div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="text" name ="name" class="form-control" placeholder="Enter Full Name">
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="text" name="email" class="form-control" placeholder="Enter Email Address">
                                    </div>
                                    <div class=" no-margin ">
                                        <button class="btn btn-success">Donate Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
            </form>
        </div>
        {% if payment %}
        <br><br><br><br><br><br>
        
        <div class="text-center mx-auto">
            <form action="success" method="POST">
                <script
                    src="https://checkout.razorpay.com/v1/checkout.js"
                    data-key="testapikey" 
                    data-amount="{{payment.amount}}" 
                    data-currency="INR"
                    data-order_id="{{payment.id}}"
                    data-buttontext="Pay with Razorpay"
                    data-name="Give Spark"
                    data-description="Test Transaction"
                    data-image="https://example.com/your_logo.jpg"
                    data-prefill.name="{{payment.name}}"
                    data-prefill.email="{{payment.email}}"
                    data-theme.color="#F37254">
                </script>
                <input type="hidden" custom="Hidden Element" name="hidden">
            </form>
            {% endif %}
        </div>
        {% endblock %}
    </body>
</html>