<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <title>{{title}}</title>
</head>
<body>
<div class="container-fluid" >      
    <div class="row">               
    <div class="col-md-12">         
    <nav class="navbar navbar-expand-lg nav-menu fixed-top" >
       
        <img src="{% static 'images\logo.png' %}" style="height:70px;">
        <h5 style="color:purple;margin-left:5px;">NIRMALA  MOHAN FOUNDATION</h5>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span ></span>
        <span ></span>
        <span ></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a id='home' class="nav-link" href="home" >
                        Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About Us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="founders">Founders</a>
                    <a class="dropdown-item" href="theme">Vision and Mission</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Activities
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="Health_Awareness">Health Awareness</a>
                    <a class="dropdown-item" href="Education">Education</a>
                    <a class="dropdown-item" href="Menstrual_Hygiene">Menstrual hygiene</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="home" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Events
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="events">Events</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
            <button class="btn  btn-sg" style="background-color:yellow;"><a href="login" style="color: red; text-decoration: none;">LOGIN</a></button>
            </ul>
        </div>
    </nav>      
</div> <!--col-md-12end -->
</div> <!--#row1 end-->
</div>  <!--container1-->          

<!--                                               NAVBAR   END                                                           -->



<!--    	                                       COURSEL                                                                        -->

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" >
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/founder1_img.jpeg' %}" class="d-block w-100" alt="..." style="height:400px;width:100%;margin-top:7rem;">
        <div class="carousel-caption d-none d-md-block">
          <h5><i>NIRMALA MOHAN FOUNDATION</i></h5>
          <p>We are with you</p>
        </div>
        </div>
      <div class="carousel-item">
        <img src="{% static 'images/slide1_img.jpeg' %}" class="d-block w-100" alt="..." style="height:400px;width:100%;margin-top:7rem;">
        <div class="carousel-caption d-none d-md-block">
          <h5>NIRMALA MOHAN FOUNDATION</h5>
          <p>We are with you</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/slide2_img.jpeg' %}" class="d-block w-100" alt="..." style="height:400px;width:100%;margin-top:7rem;">
        <div class="carousel-caption d-none d-md-block">
          <h5>NIRMALA MOHAN FOUNDATION</h5>
          <p>We are with you</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>

<!--                                                       COURSEL END                                                        -->

<!--                                                        CONTENT                                                           -->

<div class="container-fluid">     
    
<!--                                               QUOTATION ROW                                                              -->
    <div class="row">                  
        <div class="div col-md-12" style=" color: brown;height:100px;text-align:center;margin-top:20px;" >
                <h2 style="margin-top:30px;color:red">STRONG WOMEN MAKE STRONGER NATION</h2>
        </div>    
    </div>                              
 
<!--                                               QUOTATION ROW  END                                                         -->

<div class="row" style="height:20px;"></div>
<div class='row' style="border:2px solid lightgrey;margin-right:10px;margin-left:10px;border-radius:10px;">             
    <div class="row">
        <div class="col " >
            <h2 style="color:blue;margin-left:50px;">Our Programes</h2>
        </div>
    </div>
    <div class="row" style="height:20px;"></div>

<!--                                                EDUCATION DATA                                                            -->

    <div class="row" style="margin-right:20px;margin-left:20px;">  
        <div class="nmf_home col-md-6">
            <img src="{% static 'images\edu_img1.jpg' %}" >             
        </div>
        <div class="education_text col-md-6"  >
            <h1 style="text-align: center; color:lightcoral;margin-top:10px;margin-top: 40px;">
            <p style="text-decoration:underline;text-decoration-color:blue;text-underline-offset:5px;">EDUCATION</p></h1> 
            <p style="font-size:20px;margin-right: 15px; font-family:'bitter',serif;line-height:35px;text-align:justify; color: black;">
                The first thing that strikes in our minds when we think about education is gaining knowledge. 
                One of the most important benefits of education is that it improves personal lives and
                helps the society to run smoothly. By providing education, poverty can be removed and
                every person can provide their contribution in developing the country.
                </p>
                <button class="btn btn-secondary btn-sg"><a href="Education" style="color:lightpink; text-decoration: none;">
                    Read More</a></button>
        </div>       
    </div> 

<!--                                                EDUCATION DATA END                                                           -->

    <div class="row" style="height:10px;"></div>

<!--                                                HEALTH AWARNESS  DATA                                                               -->

    <div class="row" style="margin-right:20px;margin-left:20px;">                      
        <div class="health_text col-md-6" >
            <h1 style="text-align: center;color:lightcoral;margin-left: 50px;margin-top: 40px;">
            <p style="text-decoration:underline;text-decoration-color:blue;text-underline-offset:5px;">HEALTH AWARNESS</p></h1>
            <p style="font-size:20px;margin-right: 15px; font-family:'bitter',serif;line-height:35px;text-align:justify;color: black;margin-left: 50px;">
            Health and Education are crucial pillars of a healthy and strong nation. 
            Majority people do not undergo routine health checkup and screening tests 
            because most of them fear test results and cannot afford treatment expenses. 
            With the help of our foundation we will educate people about screening programmes
            and other health associated issues and also conduct the screening tests at highly affordable costs.
            </p>
            <button class="btn btn-secondary btn-sg" style="margin-left: 50px;"><a href="Health_Awareness" style="color: lightpink; text-decoration: none;">Read More</a></button>
        </div>
        <div class="nmf_home col-md-6 ">
            <img src="{% static 'images\health_img.jpg' %}" >             
        </div>     
    </div>                                       

    <!--                                                HEALTH AWARNESS  DATA                                                               -->


    <div class="row" style="height:10px;"></div>

<!--                                                HYGIENE DATA                                                               -->

    <div class="row" style="margin-right:20px;margin-left:20px;border-radius: 5px;">                                       <!--hygiene row 6th start-->
        <div class="nmf_home col-md-6 ">
            <img src="{% static 'images\girl_rel_img1.jpeg' %}" >             
        </div>
        <div class="girl_rel_text col-md-6" >
            <h1 style="text-align: center;color:lightcoral;margin-left: 50px;margin-top: 40px;">
                <p style="text-decoration:underline;text-decoration-color:blue;text-underline-offset:5px;">MENSTRUAL HYGIENE</p></h1>
            <p style="font-size:20px;margin-right: 15px; font-family:'bitter',serif;line-height:35px;text-align:justify;color: black;">
                Menstruation is a normal physiological process of females at their reproductive age.
                However, it is surrounded with social taboos and supernatural beliefs.
                The poor knowledge and understanding of menstruation may lead to unsafe hygienic practice 
                Therefore, our foundation also aims to assess the knowledge and educate menstrual hygiene practice among
                adolescent school girls in Kamareddy and surrounding villages. 
            </p>
            <button type="button" class="btn btn-secondary btn-sg"><a href="Menstrual_Hygiene" style="color:lightpink; text-decoration: none;">Read More</a></button>
        </div>   
                            

    </div>                                  

<!--                                                HYGIENE DATA END                                                             -->

    <div class="row" style="height:10px;">
    </div>
</div>         
</div>          

<!--                                                 CONTENT END                                                                 -->

<!--                                         FOUNDERS SPEAK                                                                     -->

<div class="container-fluid">     
    <div class="row" style="height:60px;"></div>
    <div class="row">
        <div class="div11 col-md-6 offset-md-3">
            <h1 style="text-align: center; color:lightcoral;margin-top:10px;">Founder's Speak</h1>             
        </div>
    </div>
    <div class="row">
        <div class="div12 col-md-6 offset-md-3">
            <img src="{% static 'images/founder_img.jpg' %}" style="width:100%;height:400px;border-radius: 10px;border: 2px solid black;" > 
            <div class="bottom-right" style="position: absolute;color:red;bottom: 8px;right:30px;font-size:20px;">Dr . Srikanth  Shastry, MBBS, MD (Pathology)</div>            
        </div>
    </div>
    <br>
    <div class="row">
        <div class="div13 col-md-10 offset-md-1" >
            <p style="font-size:20px;margin-right: 15px; font-family:'bitter',serif;line-height:35px;text-align:justify; color: black;">
                I strongly believe that sound health of people is vital for a strong and prosperous nation. Better health is fundamental
                to human well-being and happiness. Healthy population lives longer and are more productive thereby contributing for nation building
                and economic progress. So, Our foundation concentrates mainly on health and education which are the most basic things in every human being life in kamareddy district and sorrounding villages.
             <button class="btn btn-primary"><a href="theme" style="color:brown;text-decoration:none;font-size:20px;">Read More</a></button>
            </p>
               
        </div>       
    </div> 
</div>      
<div class="container-fluid">
    <div class="row" style="height:50px;"></div>
    <div class="row">
        <div class="col-md-4 offset-md-1" style="border:2px solid grey;border-radius:10px;">
            <center><h1>Mission</h1></center>
            <ul style="font-size:20px;font-family:'bitter',serif;line-height:35px;text-align:justify; color: black;">
                
                <li>Our foundation conducts Women health awareness programmes, 
                    proper education on Menstrual hygiene among school and college girls, conduct medical and dental health camps in  Kamareddy
                     District.</li>
                     <li>We are confident that one day we can achieve this</li>
            </ul>
        </div>
        <div class="col-md-4 offset-md-1" style="border:2px solid grey;border-radius:10px;">
            <center><h1>Vission</h1></center>
            <ul style="font-size:20px;font-family:'bitter',serif;line-height:35px;text-align:justify; color: black;">
                <li>
                    Our vision lies on spreading major social responsibilities i.e., health and education  aiming the all age people.   
                </li>
                <li> Strong Woman Make Strong Nation</li>
            </ul>
        </div>
    </div>
</div>

<!--                                                  FOUNDERS SPEAK END                                                        -->

<!--                                               FOOTER                                                                        -->

<footer>
    <div class="container-fluid">
    <div class="row" style="height:50px;"></div>
    <div class="row" style="background-color:grey;color:white;">
        <div class=" col-md-3 offset-md-1">
            <h3 style="margin-top:30px;margin-left:10px;"><i class="bi bi-building"></i> Registered Address</h3>
            <p style="margin-left:20px;">Nirmala Mohan Foundation,<br>
                H.No: 1-5-1055/87/125,<br>    
                HMT Officers colony,Street No:9<br>Old Alwal,Secunderabad – 500010,<br>Telangana,India.
            </p> 
        </div>
        <div class="col-md-3 ">
            <h3 style="margin-top:30px;margin-left:30px;"><i class="bi bi-telephone"></i> CONTACT</h3>
            <p><i class="bi bi-envelope"></i> Email: admin@nmf.org.in<br>                
            <i class="bi bi-telephone"></i> Phone: 9908002593/7396266969
            </p> 
        </div>
        <div class="col-md-3">
            <h3 style="margin-top:30px; margin-left:50px;"><i class="bi bi-geo-alt-fill"></i> LOCATION</h3>
            <div class="map-wrapper">
                <iframe class="googlemap" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15220.131311041308!2d78.490809!3d17.5059463!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeffa5d03976f540c!2sNirmala%20Mohan%20Foundation!5e0!3m2!1sen!2sin!4v1645941338163!5m2!1sen!2sin" width="50px;" height="150px;" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="color:black;background-color:burlywood">
            <div class="col-md-7 offset-md-5">
                <p style="font-size:20px;">@2020 copyrights reserved<p>
            </div> 
        </div>
    </div>
</footer>

<!--                                               FOOTER    END                                                                   -->

</body>
</html>