<!DOCTYPE html>
<head>
    <title>Menstrual_Hygiene</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

     

    <style>

        .health_img1 img{  
        margin-top:50px;
        margin-left:30px;
        height:300px;
        width:90%;
        border:2px solid black;
        border-radius:10px; 
        transition-duration:5s ;    
     }
     .health_img2 img{  
        margin-top:50px;   
        margin-left:30px;    
        height:300px;
        width:90%;
        border:2px solid black;
        border-radius:10px;   
        transition-duration:3s ;
     }
     .health_img1 img:hover{
         transform: scale(1.1);
     }
     .health_img2 img:hover{
         transform: scale(1.1);
     }
    </style>    
</head>
<body>
    
<!--                                                              NAVBAR                                               -->
<div class="container-fluid" >      
    <div class="row">               
    <div class="col-md-12">         
    <nav class="navbar navbar-expand-lg nav-menu fixed-top" >
        {% load static %}
        <img src="{% static 'images\logo.png' %}" style="height:70px;">
        <h5 style="color:purple;margin-left:5px;">NIRMALA  MOHAN FOUNDATION</h5>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span ></span>
        <span ></span>
        <span ></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a id='home' class="nav-link" href="home" >
                    Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About Us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="founders">Founders</a>
                    <a class="dropdown-item" href="theme">Vision and Mission</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Activities
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="Health_Awareness">Health Awareness</a>
                    <a class="dropdown-item" href="Education">Education</a>
                    <a class="dropdown-item" href="Menstrual_Hygiene">Menstrual hygiene</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="home" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Events
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="events">Events</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
            <button class="btn  btn-sg" style="background-color:yellow;"><a href="login" style="color: red; text-decoration: none;">LOGIN</a></button>
            </ul>
        </div>
    </nav>      
</div> 
</div> 
</div>  
<!--                                                              NAVBAR ENDD                                               -->

<!--                                                                CONTENT                                                 -->
<div class="container-fluid">
    <div class="row" style="height:100px;"></div>
    <div class="row">
        <div class="health_img1 col-md-4">
            <img src="{% static 'images/girl_rel_img1.jpeg' %}">
        </div>
        <div class=" health_img2 col-md-4">
            <img src="{% static 'images/girl_rel_img2.jpeg' %}">
        </div>
        <div class=" health_img2 col-md-4 ">
            <img src="{% static 'images/girl_rel_img4.jpeg' %}">
        </div>
    </div>
    <div class="row">
       <h3 style="color:lightcoral;border-bottom: 2px solid blue;width:10%;margin-left: 50px;margin-top: 40px;"> Description</h3>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <p style="font-size:20px;margin-left: 30px; font-family:'bitter',serif;line-height:35px;text-align:justify; color: black;">
                Besides cancer awareness, one more reason and motivation for starting this <strong> foundation is to educate women about MENSTRUAL HYGIENE and 
                its importance.</strong> Poor menstrual hygiene can lead to many issues, such as fungal or bacterial infections of the reproductive tract and
                the urinary tract. Irritation of the skin causes discomfort and can possibly result in dermatitis- a medical condition in which the 
                skin swells, turns red and at times becomes sore with blisters. In India, out of the total 355 million menstruating women,
                only 42.6% uses the most basic form of menstrual hygiene product,namely disposable Sanitary pads/napkins. This means that only 12% 
                of Indian women use sanitary pads. Lack of awareness and socio-cultural beliefs that render menstruation as a dirty phase in women’s 
                lives have long deprived women access to proper menstrual hygiene management. If hygienic practices are  not followed during 
                menstruation, like changing pads for every 4-5 hours, washing and drying out reusable sanitary towels properly in the sun and 
                washing hands after handling used sanitary pads, then the chances of getting urogenital tract infections increases many folds.
                No women should live with the shame of menstruation or suffer in silence. The spread of menstrual awareness and the use of hygienic 
                products to deal with menstruation are the best ways to avoid health risks during periods. <br>Our foundation intends to <strong>supply SANITARY 
                PADS free of cost to the school and college girls and educate them about MENSTRUAL HYGIENE.</strong>
                <strong>Strong women make stronger nation.</strong>
            </p>
        </div>
    </div>
</div>
<!--                                                                CONTENT ENDD                                             -->

<!--                                                                    FOOTER                                               -->

<footer>
    <div class="container-fluid">
    <div class="row" style="height:50px;"></div>
    <div class="row" style="background-color:grey;color:white;">
        <div class=" col-md-3 offset-md-1">
            <h3 style="margin-top:30px;margin-left:10px;"><i class="bi bi-building"></i> Registered Address</h3>
            <p style="margin-left:20px;">Nirmala Mohan Foundation,<br>
                H.No: 1-5-1055/87/125,<br>    
                HMT Officers colony,Street No:9<br>Old Alwal,Secunderabad – 500010,<br>Telangana,India.
            </p> 
        </div>
        <div class="col-md-3 ">
            <h3 style="margin-top:30px;margin-left:30px;"><i class="bi bi-telephone"></i> CONTACT</h3>
            <p><i class="bi bi-envelope"></i> Email: admin@nmf.org.in<br>                
            <i class="bi bi-telephone"></i> Phone: 9908002593/7396266969
            </p> 
        </div>
        <div class="col-md-3">
            <h3 style="margin-top:30px; margin-left:50px;"><i class="bi bi-geo-alt-fill"></i> LOCATION</h3>
            <div class="map-wrapper">
                <iframe class="googlemap" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15220.131311041308!2d78.490809!3d17.5059463!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeffa5d03976f540c!2sNirmala%20Mohan%20Foundation!5e0!3m2!1sen!2sin!4v1645941338163!5m2!1sen!2sin" width="50px;" height="150px;" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="color:black;background-color:burlywood">
            <div class="col-md-7 offset-md-5">
                <p style="font-size:20px;">@2020 copyrights reserved<p>
            </div> 
        </div>
    </div>
</footer>
<!--                                                                FOOTER ENDD                                                   -->

</body>
</html>