<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>theme</title>
    
</head>
<body>

<!--                                                                NAVBAR                                               -->
    <div class="container-fluid" >     
        <div class="row">               
        <div class="col-md-12">         
        <nav class="navbar navbar-expand-lg nav-menu fixed-top" >
            {% load static %}
            <img src="{% static 'images\logo.png' %}" style="height:70px;">
            <h5 style="color:purple;margin-left:5px;">NIRMALA  MOHAN FOUNDATION</h5>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span ></span>
            <span ></span>
            <span ></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a id='home' class="nav-link" href="home" >
                        Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About Us
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="founders">Founders</a>
                        <a class="dropdown-item" href="theme">Vision and Mission</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Activities
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="Health_Awareness">Health Awareness</a>
                        <a class="dropdown-item" href="Education">Education</a>
                        <a class="dropdown-item" href="Menstrual_Hygiene">Menstrual hygiene</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="home" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Events
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="events">Events</a>
                        </div>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link " href="events">Events</a>
                    </li> -->
                </ul>
                <ul class="navbar-nav ml-auto">
                <button class="btn  btn-sg" style="background-color:yellow;"><a href="login" style="color: red; text-decoration: none;">LOGIN</a></button>
                </ul>
            </div>
        </nav>      
    </div> 
    </div> 
    </div>  

 <!--                                                       NAVBAR ENDDDD                                                       -->

 <!--                                                       CONTENT                                                             -->
    <div class="container-fluid">
        <div class="row" style="height:150px;"></div>
        <div class="row">
            <div class="col-md-4 offset-md-1" style="border:2px solid grey;border-radius:10px;">
                <center><h1>Mission</h1></center>
                <ul style="font-size:20px;font-family:'bitter',serif;line-height:35px;text-align:justify; color: black;">
                    
                    <li>Our foundation conducts Women health awareness programmes, 
                        proper education on Menstrual hygiene among school and college girls, conduct medical and dental health camps in  Kamareddy
                         District.</li>
                         <li>We are confident that one day we can achieve this</li>
                </ul>
            </div>
            <div class="col-md-4 offset-md-1" style="border:2px solid grey;border-radius:10px;">
                <center><h1>Vission</h1></center>
                <ul style="font-size:20px;font-family:'bitter',serif;line-height:35px;text-align:justify; color: black;">
                    <li>
                        Our vision lies on spreading major social responsibilities i.e., health and education  aiming the all age people.   
                    </li>
                    <li> Strong Woman Make Strong Nation</li>
                </ul>
            </div>
        </div>
    </div>

<!--                                                            CONTENT END                                                      -->

<!--                                                           FOUNDERS SPEAK                                                    -->
    <div class="container-fluid">     
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 style="text-align: center; color:lightcoral;margin-top:50px;">Founder's Speak</h1>             
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <img src="{% static 'images/founder_img.jpg' %}" style="width:100%;height:400px;" > 
                <div class="bottom-right" style="position: absolute;color:red;bottom: 8px;right:30px;font-size:20px;">Dr . Srikanth  Shastry, MBBS, MD (Pathology)</div>            
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-10 offset-md-1" >
                <p style="font-size:20px;margin-right: 15px; font-family:'bitter',serif;line-height:35px;text-align:justify; color: black;">
                    I strongly believe that sound health of people is vital for a strong and prosperous nation. Better health is fundamental
                    to human well-being and happiness. Healthy population lives longer and are more productive thereby contributing for nation 
                    building and economic progress. <strong>The prime purpose of    NIRMALA   MOHAN   FOUNDATION  is to conduct cancer awareness programmes </strong>
                    and to educate people about the key risk factors involved.  Subsequently more than 30% of cancer cases could be prevented by 
                    modifying lifestyle or avoiding the risk factors. These screening activities help to interact with people, discuss with them,
                    involve them, educate them and can detect and treat if any tumor/cyst is identified. <br>
                    Besides cancer awareness, <strong>one more reason and motivation for starting this foundation is to educate women about 
                    MENSTRUAL HYGIENE and its importance</strong>. Besides cancer awareness, one more reason and motivation for starting this foundation 
                    is to educate women about MENSTRUAL HYGIENE and its importance. <br>
                    One more major issue which is troubling our nation is proper education. Majority of the students are not able to attend school 
                    due to poverty and other reasons. These children leave school before they acquire the basic skills and knowledge needed to 
                    thrive within the society. <strong>Our foundation will support and address this problem by providing school books, uniforms and other 
                    essentials to the students who cannot afford them and access the best possible education. </strong>
                </p>         
            </div>       
        </div> 
    </div>  
<!--                                                        FOUNDERS SPEAK ENDD                                               -->

<!--                                                        FOOTER                                                            -->
    <footer>
        <div class="container-fluid">
        <div class="row" style="height:50px;"></div>
        <div class="row" style="background-color:grey;color:white;">
            <div class=" col-md-3 offset-md-1">
                <h3 style="margin-top:30px;margin-left:10px;"><i class="bi bi-building"></i> Registered Address</h3>
                <p style="margin-left:20px;">Nirmala Mohan Foundation,<br>
                    H.No: 1-5-1055/87/125,<br>    
                    HMT Officers colony,Street No:9<br>Old Alwal,Secunderabad – 500010,<br>Telangana,India.
                </p> 
            </div>
            <div class="col-md-3 ">
                <h3 style="margin-top:30px;margin-left:30px;"><i class="bi bi-telephone"></i> CONTACT</h3>
                <p><i class="bi bi-envelope"></i> Email: admin@nmf.org.in<br>                
                    <i class="bi bi-telephone"></i> Phone: 9908002593/7396266969
                </p>
            </div>
            <div class="col-md-3">
                <h3 style="margin-top:30px; margin-left:50px;"><i class="bi bi-geo-alt-fill"></i> LOCATION</h3>
                <div class="map-wrapper">
                    <iframe class="googlemap" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15220.131311041308!2d78.490809!3d17.5059463!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeffa5d03976f540c!2sNirmala%20Mohan%20Foundation!5e0!3m2!1sen!2sin!4v1645941338163!5m2!1sen!2sin" height="150px;" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
        </div>
    </footer>
<!--                                                                                FOOTER END                         -->

    <div class="container-fluid">
        <div class="row" style="color:black;background-color:burlywood">
           <div class="col-md-7 offset-md-5">
            <p style="font-size:20px;">@2020 copyrights reserved<p>
        </div> 
        </div>
    </div>    

</body>   
  
</html>